{% load staticfiles %}

{% if item == 'problematica' %}
<div class="row row-item-metodologia">
    <div class="col-md-4 text-right">
        <img alt="Problemática" src="{% static 'images/m02.svg' %}">
    </div>

    <div class="col-md-4 text-center">
        <h1 class="text-white">Problemática</h1>
    </div>

    <div class="col-md-4 text-left">
        <img class="check-mark" alt="Ok!" src="{% static 'images/check-mark.png' %}">
    </div>
</div>
{% elif item == 'causas' %}
<div class="row row-item-metodologia">
    <div class="col-md-4 text-right">
        <img alt="Causas" src="{% static 'images/m02.svg' %}">
    </div>

    <div class="col-md-4 text-center">
        <h1 class="text-white">Causas</h1>
    </div>

    <div class="col-md-4 text-left">
        <img class="check-mark" alt="Ok!" src="{% static 'images/check-mark.png' %}">
    </div>
</div>
{% elif item == 'solucionpolitica' %}
<div class="row row-item-metodologia">
    <div class="col-md-4 text-right">
        <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
    </div>

    <div class="col-md-4 text-center">
        <h1 class="text-white">Solución Política</h1>
    </div>

    <div class="col-md-4 text-left">
        <img class="check-mark" alt="Ok!" src="{% static 'images/check-mark.png' %}">
    </div>
</div>
{% elif item == 'objetivos' %}
<div class="row row-item-metodologia">
    <div class="col-md-4 text-right">
        <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
    </div>

    <div class="col-md-4 text-center">
        <h1 class="text-white">Objetivos</h1>
    </div>

    <div class="col-md-4 text-left">
        <img class="check-mark" alt="Ok!" src="{% static 'images/check-mark.png' %}">
    </div>
</div>
{% elif item == 'resultadosintermedios' %}
<div class="row row-item-metodologia">
    <div class="col-md-4 text-right">
        <img alt="Resultados Intermedios" src="{% static 'images/m02.svg' %}">
    </div>

    <div class="col-md-4 text-center">
        <h1 class="text-white">Resultados Intermedios</h1>
    </div>

    <div class="col-md-4 text-left">
        <img class="check-mark" alt="Ok!" src="{% static 'images/check-mark.png' %}">
    </div>
</div>
{% elif item == 'barreras' %}
<div class="row row-item-metodologia">
    <div class="col-md-4 text-right">
        <img alt="Barreras" src="{% static 'images/m02.svg' %}">
    </div>

    <div class="col-md-4 text-center">
        <h1 class="text-white">Barreras</h1>
    </div>

    <div class="col-md-4 text-left">
        <img class="check-mark" alt="Ok!" src="{% static 'images/check-mark.png' %}">
    </div>
</div>
{% elif item == 'factoreshabilitantes' %}
<div class="row row-item-metodologia">
    <div class="col-md-4 text-right">
        <img alt="Factores Habilitantes" src="{% static 'images/m02.svg' %}">
    </div>

    <div class="col-md-4 text-center">
        <h1 class="text-white">Factores Habilitantes</h1>
    </div>

    <div class="col-md-4 text-left">
        <img class="check-mark" alt="Ok!" src="{% static 'images/check-mark.png' %}">
    </div>
</div>
{% elif item == 'actoresrelevantes' %}
<div class="row row-item-metodologia">
    <div class="col-md-4 text-right">
        <img alt="Actores Relevantes" src="{% static 'images/m02.svg' %}">
    </div>

    <div class="col-md-4 text-center">
        <h1 class="text-white">Actores Relevantes</h1>
    </div>

    <div class="col-md-4 text-left">
        <img class="check-mark" alt="Ok!" src="{% static 'images/check-mark.png' %}">
    </div>
</div>
{% endif %}