{% extends "base_generic.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block redirect %}
<script>
    // redirect to google after 3 seconds
    window.setTimeout(function() {
        window.location.href = '{% url "estrategias:barreras_edit" pk=estrategia.id %}{% if request.GET.oid %}?oid={{request.GET.oid}}{% else %}?oid={{estrategia.get_objetivo_prioritario.id}}{% endif %}';
    }, 3000);
    </script>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %} 
{% endblock %} 

{% block content %}
<section class="metodologia extra-p-top" id="section-barreras-titulo">
    <div class="container">
        {% include "estrategias/sections/row_item_metodologia_check.html" with item="resultadosintermedios" %}
    </div>

    <div class="spacer30"></div>
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="text-white">Vamos ahora a las Barreras</h2>
        </div>
    </div>

    <div class="spacer60"></div>
</section>
{% endblock %}