{% extends "base_generic.html" %}

{% load staticfiles %}

{% block navbar %}
    {% include "navbar.html" with navhighlighted="mis_estrategias" %} 
{% endblock %} 

{% block content %}
<section class="default-p-top" id="section-mis-estrategias">
    <div class="container">
        <h1 class="text-center width-800-nomargin">Mis Estrategias</h1>

        <div class="row spacer30"></div>

        {% if estrategias.count == 0 %}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Aún no has creado ninguna Estrategia</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2><a href="/estrategias/nueva_estrategia">¡Crea una acá!</a></h2>
            </div>
        </div>

        <div class="row spacer60"></div>

        {% else %}

        <div class="row spacer60"></div>

        <div class="lista-estrategias table-responsive">          
            <table class="table table-striped">
                <tbody>
                    {% for estrategia in estrategias reversed %}                        
                    <tr>
                        <td><h3><a href="/estrategias/{{estrategia.id}}">{{estrategia.titulo}}</a></h3></td>
                        <td>
                            <span class="le1">Compartir</span><br/>
                            <span class="le2"><a href='{% url "estrategias:eliminar" pk=estrategia.id %}' onclick="return confirm('Estás segur@ que deseas eliminar esta estrategia?')" class="" role="">Eliminar</a></span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif %}
    </div>
</section>
{% endblock %}
