{% extends "base_generic.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block navbar %}
    {% include "navbar.html" %} 
{% endblock %} 

{% block content %}
<section class="metodologia default-p-top" id="section-objetivos-titulo">
    {% include "estrategias/sections/row_metodologia_flow.html" with highlighted="objetivos" %}
</section>

<section class="flujo-estrategia flujo-estrategia-show" id="section-objetivos-objetivos">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Objetivos</h3>
                <a href='{% url "estrategias:objetivos_nuevo" pk=estrategia.id %}' class="" role="">Agregar</a>
            </div>
            <div class="col-md-7 col-md-offset-1">                
                {% for objetivo in estrategia.objetivos.all %}
                <div class="row">
                    <p><a href='{% url "estrategias:resultadosintermedios" pk=estrategia.id %}?oid={{objetivo.id}}'>{{objetivo.objetivo}}</a></p>
                    <a href='{% url "estrategias:objetivos_edit" pk=estrategia.id %}?oid={{objetivo.id}}' class="" role="">Editar</a> / 
                    <a href='{% url "estrategias:objetivos_eliminar" pk=estrategia.id %}?oid={{objetivo.id}}' onclick="return confirm('Estás segur@ que deseas eliminar este objetivo?')" class="" role="">Eliminar</a>
                </div>
                <div class="row spacer30"></div>
                {% endfor %}
            </div>
        </div>
        <div class="row spacer60"></div>
    </div>
</section>
{% endblock %}