{% extends "base_generic.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block navbar %}
    {% include "navbar.html" %} 
{% endblock %} 

{% block content %}
<section class="metodologia default-p-top" id="section-problematica-titulo">
    {% include "estrategias/sections/row_metodologia_flow.html" with highlighted="problematica" %}
</section>

<section class="flujo-estrategia flujo-estrategia-show" id="section-problematica-problematica">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Problematica" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Problemática</h3>
                <a href='{% url "estrategias:problematica_edit" pk=estrategia.id %}{% if request.GET.oid %}?oid={{request.GET.oid}}{% endif %}' class="" role="">Editar</a>
            </div>
            {% if estrategia.has_problematica %}
            <div class="col-md-7 col-md-offset-1">
                <p>{{estrategia.problematica}}</p>
                <div class="spacer30"></div>
            </div>
            {% endif %}
        </div>
        <div class="row spacer60"></div>
    </div>
</section>
{% endblock %}